.contentmain {
    display: block;
    position: fixed;
    left: 50%;
}

    .contentmain .wrapper {
        position: relative;
        left: -50%;
        background-color: #fff;
        border: solid 2px #444;
        border-radius: 10px;
    }


.popupcontent {
    background-color: #fff;
    border: solid 2px #444;
    border-radius: 10px;
    color: #3e4e5b;

}

.formcontent {
    margin: 20px;
}

html {
    background-color: #aaa;
}

body {
    font-family: "Segoe UI","Helvetica","Verdana", "Arial", "Sans-Serif";
    font-size: 14px;
}

h1 {
    font-size: 22px;
    text-align: center;
    color: #333;
}

.warning {
    text-align: left;
    color: red;
    margin: 10px;
    padding: 7px 7px 7px 30px;
    background-image: url('icon_alert.gif');
    background-repeat: no-repeat;
    background-position: left center;
}

    .warning:empty {
        display: none;
    }

#passwordOptions {
    color: #3e4e5b;
}

.dataTable {
    margin: 10px 0 0px 0;
    width: 400px;
    border-top: 1px solid #e5eff8;
    border-right: 1px solid #e5eff8;
    border-collapse: collapse;
    border-style: hidden;
}

    .dataTable th {
        padding: 10px;
        white-space: nowrap;
        text-align: right;
        font-weight: 600;
        color: #678197;
        border-bottom: 1px solid #e5eff8;
        border-left: 1px solid #e5eff8;
    }

    .dataTable td {
        padding: 10px;
        text-align: left;
        width: 100%;
        color: #678197;
        border-bottom: 1px solid #e5eff8;
    }

#ckUserMustChangePassword {
    /*margin: 10px 10px 20px 10px;*/
    border: 0;
}

#opSetMode {
    margin: 10px 0 10px 0;
    width: 400px;
    border: 0;
}

    #opSetMode th {
        padding: 2px;
        white-space: nowrap;
        text-align: right;
        font-weight: 600;
        color: #3e4e5b;
    }

    #opSetMode td {
        padding: 2px;
        text-align: left;
        width: 100%;
        color: #3e4e5b;
    }

        #opSetMode td.spacedOptCell {
            padding: 2px;
            padding-top: 22px;
            text-align: left;
            width: 100%;
            color: #3e4e5b;
        }


.fullWidthControl {
    width: 100%;
}

.credentialTable {
    margin: 0px;
    width: 400px;
    border-top: 1px solid #e5eff8;
    border-right: 1px solid #e5eff8;
    border-collapse: collapse;
    border-style: hidden;
}

    .credentialTable th {
        padding: 5px;
        white-space: nowrap;
        text-align: right;
        font-weight: normal;
        /*font-weight: 600;*/
        /*color: #678197;*/
        /*border-bottom: 1px solid #e5eff8;*/
        /*border-left: 1px solid #e5eff8;*/
    }

    .credentialTable td {
        padding: 5px;
        width: 100%;
        text-align: left;
        /*color: #678197;*/
        /*border-bottom: 1px solid #e5eff8;*/
    }

        .credentialTable td.validationMessageCell {
            padding: 5px;
            text-align: left;
            /*color: #678197;*/
            /*border-bottom: 1px solid #e5eff8;*/
        }

#header {
    position: relative;
    right: 0;
    top: 0;
    display: block;
    margin: 0;
    padding: 5px;
    text-align: right;
    float: right;
}

input.button {
    color: #444;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    border: solid 1px #444;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

    input.button:hover:enabled {
        -moz-box-shadow: 0 1px 2px #777;
        -webkit-box-shadow: 0 1px 2px #777;
        box-shadow: 0 1px 2px #777;
    }

    input.button:disabled {
        color: #dcdcdc;
        background: #f3f3f3;
        border: solid 1px #dcdcdc;
    }

.buttonRow {
    text-align: center;
    margin-top: 20px;
}

#resultRow {
    /*margin: 10px*/
}

.ModalBackground {
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.password {
    font-family: Consolas, "Courier New", Courier, monospace;
}
