.popupcontent {
    background-color: #fff;
    border: solid 2px #444;
    border-radius: 10px;
    color: #3e4e5b;
}

#passwordOptions {
    color: #3e4e5b;
}

#ckUserMustChangePassword {
    border: 0;
}

#opSetMode {
    margin: 10px 0 10px 0;
    width: 400px;
    border: 0;
    display: block;
}

    #opSetMode th {
        padding: 2px;
        white-space: nowrap;
        text-align: right;
        font-weight: 600;
        color: #3e4e5b;
    }

    #opSetMode td {
        padding: 2px;
        text-align: left;
        width: 100%;
        color: #3e4e5b;
    }

        #opSetMode td.spacedOptCell {
            padding: 2px;
            padding-top: 22px;
            text-align: left;
            width: 100%;
            color: #3e4e5b;
        }


.credentialTable {
    margin: 0px;
    width: 400px;
    border-top: 1px solid #e5eff8;
    border-right: 1px solid #e5eff8;
    border-collapse: collapse;
    border-style: hidden;
}

    .credentialTable th {
        padding: 5px;
        white-space: nowrap;
        text-align: right;
        font-weight: normal;
    }

    .credentialTable td {
        padding: 5px;
        width: 100%;
        text-align: left;
    }

        .credentialTable td.validationMessageCell {
            padding: 5px;
            text-align: left;
        }

.buttonRow {
    text-align: center;
    margin-top: 20px;
}

.ModalBackground {
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.password {
    font-family: Consolas, "Courier New", Courier, monospace;
}
